$body_color:#f2f3f6;
$white_color:#FFFFFF;
$primary_color:#FD4100;
$gray_color: #8C929B;
$lightgray_color:#d8dbe2;
$title_color:#272A37;
$small_desc_color:#1B1D25;
$green_color:#26B753;
$dropdown_color:#454857;
$dropdown_850_color:#6f7383;
